{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block link %}
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block active-param %} active {% endblock %}

{% block collapsed-param %} {% endblock %}

{% block show-param %} show {% endblock %}

{% block active-compte %} active {% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class=" mb-4">
        <div class="col-lg-12 alert alert-secondary">
            <h1 class="h5 mb-0 text-gray-800"><span style="color:#4e73df">Tableau de bord / </span>Modifier mes informations de compte</h1>
        </div>
    </div>

    {% if not messages %}
    <div class=" text-center col-lg-12 alert alert-danger">
        <b>
            <a class="btn btn-dark btn-sm close" href="#" data-dismiss="alert">×</a>
            <span>Formulaire non valide, informations non enrégistré. VERIFIEZ VOS DONNEES</span>
        </b>
    </div>
    {% else %}
    <div class="  col-lg-12 alert alert-success">
        <b>
            <a class="btn btn-dark btn-sm close mb-3" href="#" data-dismiss="alert">×</a>
            <span>Formulaire valide, vos informations ont été bien modifiés !</span>
        </b>
    </div>
    {% endif %}

    <br>
    <div class="row">
        <div class="col-md-3">

            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        {% if request.user.avatar %}
                        <img style="height:100px;width:100px;background-size:cover" src="{{request.user.avatar.url}}" class="profile-user-img img-fluid img-circle" alt="User picture">
                        {% else %}
                        {% if request.user.sexe == "Homme" %}
                        <img style="height:100px;width:100px;background-size:cover" src="{% static 'img/undraw_profile.svg' %}" class="profile-user-img img-fluid img-circle" alt="User picture"/>
                        {% elif request.user.sexe == "Femme" %}
                        <img style="height:100px;width:100px;background-size:cover" src="{% static 'img/undraw_profile_3.svg' %}" class="profile-user-img img-fluid img-circle" alt="User picture"/>
                        {% endif %}
                        {% endif %}
                    </div>
                    <br>
                    <h5 class="profile-username text-center">{{request.user}}</h5>
                    <a style="color:white;font-size:15px;" class="btn btn-primary btn-block"><b><small><i>Est membre depuis </i></small> {{request.user.date_d_ajout|date:"Y"}}</b></a>
                </div>
            </div>
            <div class="card card-primary">
                <div class="card-header">
                    <h5 class="card-title">A propos de moi</h5>
                </div>
                <div class="card-body">
                    <strong><i class="far fa-user mr-1"></i> Genre du profil</strong>

                    <p class="text-muted">{{request.user.sexe}}</p>

                    <hr>

                    <strong><i class="fas fa-phone mr-1"></i> Téléphone</strong>

                    <p class="text-muted">{{request.user.telephone}}</p>

                    <hr>

                    <strong><i class="fas fa-map-marker-alt mr-1"></i> Adresse</strong>

                    <p class="text-muted">{{request.user.adresse}}</p>

                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header p-2">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Settings</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="active tab-pane" id="settings">
                            {% load crispy_forms_tags %}
                            <form class="form-horizontal" data-url="{% url 'compte' %}" method="POST" action="" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{u_form|crispy}}
                                <hr>
                                <div class="social-auth-links text-center mb-3">
                                    <input class="btn btn-block btn-primary" type="submit" value="Modifier vos informations de compte">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}