{% extends "base.html" %}
{% load static %}

{% block title %}
Tableau de bord
{% endblock %}

{% block active-dash %} active {% endblock %}

{% block link %}
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class=" mb-4">
    <div class="col-lg-12 alert alert-secondary">
      <h1 class="h5 mb-0 text-gray-800"><span style="color:#4e73df">Accueil / </span>Liste des conducteurs</h1>
    </div>
  </div>
  {% if request.user.profil.nom == "Admin" %}
  <div class="mb-4">
    <h1 class="h3 mb-0 text-gray-800">Tableau de bord</h1>
    <a class="mt-3 col-lg-3 col-12 show-form" href="{% url 'ajouterconducteur' %}"
       style="text-decoration:none;font-weight:600;background-color:#4e73df;color:#FFFFFF;padding:11px;margin-right:5px;border-radius:5px;border:none">
      Ajouter un conducteur &nbsp;<i class="fas fa-user-plus"></i>
    </a>
    <!--<button class="mt-3 col-lg-3 col-12 show-form" type="button" data-url="{% url 'addconducteur' %}" style="font-weight:600;background-color:#4e73df;color:#FFFFFF;padding:10px;border-radius:5px;border:none">
      Ajouter un conducteur &nbsp;<i class="fas fa-user-plus"></i>
    </button>-->
    <button class="mt-3 col-lg-3 col-12 show-form" type="button" data-url="{% url 'addstation' %}" style="font-weight:600;background-color:#30336b;color:#FFFFFF;padding:10px;border-radius:5px;border:none">
      Ajouter une station &nbsp;<i class="fas fa-plus-square"></i>
    </button>
  </div>
  {% endif %}

  <div class="row">
    <!--
    <div class="col-xl-2 col-lg-7"></div>-->
    <div class="col-xl-12 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">LISTE DES STATIONS</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            <table style=" font-family: 'Oswald', sans-serif;" class="table table-hover table-striped" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th scope="col" width="5%">STATION</th>
                <th scope="col" width="15%">RESPONSABLE</th>
                <th scope="col" width="5%">CONTACT</th>
                {% if request.user.profil.nom == "Admin" %}
                <th scope="col" width="5%">ACTIONS</th>
                {% endif %}
              </tr>
              </thead>
              <tbody>
              {% include "station/listestation.html" %}
              </tbody>
            </table>

            <!-- Popup ajouter nouvelle categorie -->
            <div class="modal fade" id="modal-station">
              <div class="modal-dialog">
                <div class="modal-content"></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div><!--
    <div class="col-xl-2 col-lg-7"></div>-->
  </div>

  <div class="row">
    <div class="col-xl-4 col-md-6 mb-4">
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Nombre total d'enrégistrement</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{count_conducteurs}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                Nombre total de station</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><span class="count">{{count_stations}}</span></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Rechercher des informations..." id="myInputTextField">
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary" id="conducteur">LISTE DES CONDUCTEURS</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            <table style=" font-family: 'Oswald', sans-serif;" class="table table-hover table-striped" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th scope="col" width="5%">REFERENCE</th>
                <th scope="col" width="15%">NOM ET PRENOM</th>
                <th scope="col" width="5%">AGE</th>
                <th scope="col" width="15%">ETUDE</th>
                <th scope="col" width="10%">TELEPHONE</th>
                <th scope="col" width="10%">ADRESSE</th>
                <th scope="col" width="10%">IMMATRICULATIOIN</th>
                <th scope="col" width="10%">PERSONNE A PREVENIR</th>
                <th scope="col" width="15%">STATION</th>
                {% if request.user.profil.nom == "Admin" %}
                <th scope="col" width="5%">ACTIONS</th>
                {% endif %}
              </tr>
              </thead>
              <tbody>
              {% include "conducteur/listeconducteur.html" %}
              </tbody>
            </table>

            <!-- Popup ajouter nouvelle categorie -->
            <div class="modal fade" id="modal-conducteur">
              <div class="modal-dialog modal-lg">
                <div class="modal-content"></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
{% endblock %}

{% block javascript %}
<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
<script src="{% static 'js/conducteurs.js' %}"></script>
<!--<script src="{% static 'js/stations.js' %}"></script>-->
<script>
    oTable = $('#dataTable').DataTable();
    $('#myInputTextField').keyup(function(){
          oTable.search($(this).val()).draw() ;
    })
</script>
{% endblock %}
