{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>L.C Aného - Login</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">

</head>

<body style="background-color:#dff9fb">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image" style="background:url('https://images.unsplash.com/photo-1521410843026-323be9ead002?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');background-size:cover"></div>
                        <div class="col-lg-6">
                            <div class="p-5" style="background:#2c2c54">
                                <br>
                                <div class="lockscreen-logo text-right">
                                    <a class="badge badge-primary p-2" style="font-family: 'Dancing Script', cursive; font-size:20px" href="javasscript:void(0)">
                                        <b>L.C.<span style="text-transform:uppercase"> Aného</span></b>
                                    </a>
                                </div>
                                <br><br>
                                <div class="text-center">
                                    <h1 class="h4 text-white mb-4" style="font-family: 'Dancing Script', cursive; font-size:60px">Bienvenue !</h1>
                                </div>
                                <form method="post" class="text-white">
                                    {% csrf_token %}
                                    {{form|crispy}}
                                    <br>
                                    <button style="font-weight:bold;font-size:18px" class="btn btn-primary btn-lg btn-block">
                                        Se connecter &nbsp;<i class="fas fa-sign-in-alt"></i>
                                    </button>
                                    <br><br><br><br>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>
