{% for station in stations %}
<tr>
    <td scope="row"><span class="">{{station.nom_de_la_station}}</span></td>
    <td scope="row"><span class="">{{station.responsable_de_la_station}}</span></td>
    <td scope="row"><span class="">{{station.contact_de_la_station}}</span></td>
    {% if request.user.profil.nom == "Admin" %}
    <td scope="row">
        <button class="btn btn-circle btn-info btn-sm show-form-update" data-url="{% url 'updatestation' station.id %}">
            <i class="fas fa-pencil-alt"></i>
        </button>
        <button class="btn btn-circle btn-danger btn-sm show-form-delete" data-url="{% url 'deletestation' station.id %}">
            <i class="fas fa-trash-alt"></i>
        </button>
    </td>
    {% endif %}
</tr>
{% empty %}
<tr>
    <td colspan="10" style="text-align:center;font-weight:bold">Aucune donnée n'est disponible pour le moment</td>
</tr>
{% endfor %}